<div class="relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
      <div class="max-w-xl lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Find a Recipe</h2>
        <p class="mt-4 text-lg leading-8 text-gray-300">Tell us what's in your pantry and we'll find some delicious recipes for you.</p>
        <div class="mt-6 flex max-w-md gap-x-4">
          <label for="email-address" class="sr-only">Search recipes</label>
          <input 
          id="search-query" 
          type="text" 
          autocomplete="off" 
          class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" 
          placeholder="Enter ingredients..." 
          [(ngModel)]="searchQuery"
          (keyup.enter)="onSearch()"
        >
        <button 
        type="button" 
        class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
        (click)="onSearch()">Search</button>
        </div>
      </div>
      <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">Plan your meals with ease</dt>
          <dd class="mt-2 leading-7 text-gray-400">Schedule your meals for the week using our handy recipe generator. Simply enter your ingredients and we'll suggest recipes that match your pantry.</dd>
        </div>
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">No food waste</dt>
          <dd class="mt-2 leading-7 text-gray-400">Reduce food waste and save money by using up ingredients that might otherwise go to waste.</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
    <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</div>


  <!-- Loading indicator -->
  <div class="flex justify-center mt-5" *ngIf="isLoading">
    <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Search results -->
<!-- <div class="mt-5 p-5 border border-gray-200 rounded-lg shadow-lg mx-auto" style="max-width: 75%;" *ngIf="!isLoading && searchResults.length > 0">
  <div class="mx-auto max-w-2xl sm:text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Found Recipes</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Here is a list of recipes that match the ingredients you included!</p>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"> -->
    <!-- Cards -->
    <!-- <div class="bg-white rounded-lg overflow-hidden" *ngFor="let recipe of searchResults">
      <img class="w-full h-48 object-cover" [src]="recipe.image" alt="{{ recipe.title }}" />
      <div class="p-4 ">
        <h4 class="font-bold text-md text-gray-800 mb-2 truncate text-center">{{ recipe.title }}</h4>
     
        <div class="mt-4 flex justify-center">
          <button class="px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600" (click)="viewRecipe(recipe)">View Recipe</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Search results -->
<!-- <div *ngIf="!isLoading && searchResults.length > 0" class="mt-5 mx-auto p-5 rounded-lg shadow-lg" style="max-width: 75%; background: linear-gradient(to right, #ff80b5, #9089fc);">
  <div class="rounded-lg overflow-hidden">
    <div class="mx-auto max-w-2xl sm:text-center">
      <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Found Recipes</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">Here is a list of recipes that match the ingredients you included!</p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"> -->
      <!-- Cards -->
      <!-- <div class="bg-white rounded-lg overflow-hidden" *ngFor="let recipe of searchResults">
        <img class="w-full h-48 object-cover" [src]="recipe.image" alt="{{ recipe.title }}" />
        <div class="p-4">
          <h4 class="font-bold text-md text-gray-800 mb-2 truncate text-center">{{ recipe.title }}</h4>
          <div class="mt-4 flex justify-center">
            <button class="px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600" (click)="viewRecipe(recipe)">View Recipe</button>
          </div>
        </div>
      </div> -->
      <!-- End of Cards -->
    <!-- </div>
  </div>
</div> -->
<!-- End of Search results container -->

<!-- Search results with Tailwind styling -->
<div *ngIf="!isLoading && searchResults.length > 0" class="bg-white py-16 sm:py-12">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative isolate overflow-hidden bg-gray-900 px-6 py-12 shadow-2xl sm:rounded-3xl sm:px-24 xl:py-12 flex flex-col items-center justify-center">
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Found Recipes</h2>
        <p class="mt-2 text-lg leading-8 text-gray-300">Here is a list of recipes that match the ingredients you included!</p>
      </div>
      <div class="mx-auto mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <!-- Cards -->
        <div class="bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden" *ngFor="let recipe of searchResults">
          <div class="w-full h-48 overflow-hidden">
            <img class="w-full h-48 object-cover transition-transform duration-500 hover:scale-105" [src]="recipe.image" alt="{{ recipe.title }}" />
          </div>
          <div class="p-4 bg-gradient-to-b from-transparent to-gray-50">
            <h4 class="font-bold text-md text-gray-800 mb-2 truncate text-center">{{ recipe.title }}</h4>
            <div class="mt-4 flex justify-center">
              <button class="px-4 py-2 bg-blue-500 text-white text-sm rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition-colors duration-300" (click)="viewRecipe(recipe)">View Recipe</button>
            </div>
          </div>
        </div>
        
        <!-- End of Cards -->
      </div>
      <!-- Gradient Background Circle -->
      <svg viewBox="0 0 1024 1024" class="absolute left-1/2 top-1/2 -z-10 h-[64rem] w-[64rem]  -translate-y-1/2" aria-hidden="true">
        <circle cx="512" cy="512" r="512" fill="url(#gradient-radial)" fill-opacity="0.7" />
        <defs>
          <radialGradient id="gradient-radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(512 512) rotate(90) scale(512)">
            <stop stop-color="#7775D6" />
            <stop offset="1" stop-color="#E935C1" stop-opacity="0" />
          </radialGradient>
        </defs>
      </svg>
    </div>
  </div>
</div>
<!-- End of Search results container -->
